doctype html
html(lang="fr")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
  body
    .navbar.navbar-default.navbar-static-top(role="navigation")
      .container
        a.navbar-brand(href="/") Atelier Node.js démystifié @ Paris Web 2014
        if currentUser
          .navbar-right
            .navbar-text
              | Salut #{currentUser.name} !
            a.navbar-btn.btn.btn-default(href="/logout")
              i.glyphicon.glyphicon-log-out
              |  Me déconnecter
        else
          a.navbar-btn.btn.btn-default.navbar-right(href="/get-in")
            i.glyphicon.glyphicon-log-in
            |  Me connecter
    .container
      h1= title

      include _flashes

      block content

      hr
      footer.text-center.text-muted Atelier Node.js démystifié @ Paris Web 2014
    script(src="/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/node-demo.js")
